# ==================================================
# Build Artifacts
# ==================================================

# Nix build outputs
result
result-*

# ==================================================
# Environment / Local Configuration
# ==================================================

# direnv
.direnv/
.envrc.local

# Secrets
.env
.env.*
hosts/**/secrets/secret.nix

# ==================================================
# General Cache
# ==================================================

.cache/
.eslintcache
.stylelintcache
/tmp/

# ==================================================
# Python
# ==================================================

__pycache__/
*.py[cod]
*.pyo

# ==================================================
# IDE / Editor
# ==================================================

.vscode/
.idea/

*.swp
*~

# ==================================================
# Operating System
# ==================================================

.DS_Store
Thumbs.db

# ==================================================
# tmux
# ==================================================

tmux-*.log

# ==================================================
# Local user profiles
# ==================================================
user-profiles/*.nix
!user-profiles/default.nix
!user-profiles/guest.nix
!user-profiles/test.nix
