# ==================================================
# Build Artifacts
# ==================================================

# Nix build outputs
result
result-*

# ==================================================
# Environment / Local Configuration
# ==================================================

# direnv
.direnv/
.envrc.local

# Secrets
.env
.env.*

# ==================================================
# General Cache
# ==================================================

.cache/
.eslintcache
.stylelintcache

# ==================================================
# IDE / Editor
# ==================================================

.vscode/
.idea/

*.swp
*~

# ==================================================
# Operating System
# ==================================================

.DS_Store
Thumbs.db

# ==================================================
# Local user profiles
# ==================================================
user-profiles/hisuilab*
